 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


 :root {
    --font-calc: 'Bebas Neue', sans-serif;
    --font-title: 'Press Start 2P', cursive;
 }
 
 body {
    height: 80vh;
    display: grid;
    align-items: center;
    background: #2c3333;
    justify-content: center;
 }

h1 {
   color: #fff;
   font-size: 15px;
   text-align: center;
   margin-bottom: 30px;
   font-family: var(--font-title);
}

 input {
    padding: 15px;
    outline: none;
    font-size: 25px;
    color: #fff;
    border-radius: 15px;
    font-family: var(--font-calc);
    
 }

 .container {
    display: inline-block;
 }

 .num_maincolor {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #282828;
 }

 .text_orange {
    width: 28px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 5px;
    border-radius: 18px;
    background-color: #ff4500;
 }

 .num_ciano {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #1ca59e;
 }

 .text_maincolor {
    width: 150px;
    height: 25px;
    color: #000;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 18px;
    background-color: #fff;
    font-family: var(--font-calc);
 }